{{template "header"}}
<h1>FAQ page</h1>
<p>This page contains the most frequent questions and answers to them.</p>
<ul>
{{ range . }}
    {{template "qa" .}}
{{end}}
</ul>


{{ define "qa" }}
    <li><b>{{ .Question }}</b> {{ .Answer }}</li>
{{ end }}
{{template "footer"}}